<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">

</head>
<body>
    <h1 style="display:block; text-align: center;">Login con Reconocimiento Facial</h1>
    <div class="container-image">
        <form method="GET" action="{{ url_for('index') }}">
            <button type="submit">Login</button>
        </form>        
    </div>
    
</body>
</html>